<!DOCTYPE html>
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properities -->
 
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/packaged/css/semantic.css">
   <link rel="stylesheet" type="text/css" href="/css/feed.css">
  <link rel="stylesheet" type="text/css" href="/css/semantic.css">

  <link rel="stylesheet" href="/javascript/library/pickadate/themes/default.css" id="theme_base">
  <link rel="stylesheet" href="/javascript/library/pickadate/themes/default.date.css" id="theme_date">
  <link rel="stylesheet" href="/javascript/library/pickadate/themes/default.time.css" id="theme_time">

  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.address/1.6/jquery.address.js"></script>
  <script src="/packaged/javascript/semantic.js"></script>
  <script src="/javascript/library/history.js"></script>
  <script src="/javascript/library/easing.js"></script>
  <script src="/javascript/library/ace.js"></script>
  <script src="/javascript/library/tablesort.js"></script>
  <script src="/javascript/library/waypoints.js"></script>

  <script src="/javascript/library/pickadate/picker.js"></script>
  <script src="/javascript/library/pickadate/picker.date.js"></script>
  <script src="/javascript/library/pickadate/picker.time.js"></script>
  <script src="/javascript/library/pickadate/legacy.js"></script>

 
  <script src="/feed.js"></script>
  <script src="/semantic.js"></script>
  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script src="/map.js"></script>
    
</head>
<body id="example" class="form">


  <!-- menu -->
  <div class="ui large inverted vertical labeled sidebar menu">
    <!--<a class="active item">
      Calendar Monthly <span class="ui label">36</span>
    </a>
    <a class="item">
      Calendar Weekly <span class="ui label">4</span>
    </a>-->
    <div class="item">
      <b>Calendar Events</b>
      <div class="menu">
        <a class="active item">
          Calendar Monthly <span class="ui label">36</span>
        </a>
        <a class="item">
          Calendar Weekly <span class="ui label">14</span>
        </a>
        <a class="item">
          Calendar Today <span class="ui label">4</span>
        </a>
        <a class="item">
          List Events <span class="ui label">50</span>
        </a>
      </div>
    </div>
    <div class="item">
      <b>Tasks</b>
      <div class="menu">
        <a class="item">
          All Tasks <span class="ui label">20</span>
        </a>
        <!--
        <a class="item">
          List Tasks <span class="ui label">36</span>
        </a>-->
      </div>
    </div>
    <!--<a class="item">
      <i class="bookmark icon"></i> Favorites
    </a>-->
    <div class="ui dropdown item">
      <i class="add icon"></i> Create
      <div class="menu">
        <a class="item"><i class="rss icon"></i> New Event</a>
        <a class="item"><i class="folder icon"></i> New Calendar</a>
        <a class="item"><i class="tag icon"></i> New Task</a>
        <a class="item"><i class="tag icon"></i> New Tasks</a>
      </div>
    </div>
  </div>
  <!-- menu -->

  <!-- header page -->
  <div class="ui fixed transparent inverted main menu">
    <div class="container">
      <a class="launch item"><i class="icon list layout"></i> Recallection </a>
      <div class="title item">
        <b>Recall:</b> Event in Calendar
      </div>
      
      <a class="icon item" href="/collections/breadcrumb.html"><i class="left arrow icon"></i></a>
      
      <div class="section ui dropdown link item">
        <span class="count">Menu</span>
        <div class="menu">
          
            <div class="item">
              <a href="/collections/breadcrumb.html">1. All Events</a>
            </div>
          
            <div class="active item">
              <a href="/collections/form.html">2. Add Event</a>
            </div>
          
            <div class="item">
              <a href="/collections/grid.html">3. All Tasks</a>
            </div>
            <!--
            <div class="item">
              <a href="/collections/menu.html">4. Menu</a>
            </div>
          
            <div class="item">
              <a href="/collections/message.html">5. Message</a>
            </div>
          
            <div class="item">
              <a href="/collections/table.html">6. Table</a>
            </div> -->
        </div>
      </div>
      
      <a class="icon item" href="/collections/grid.html"><i class="right arrow icon"></i></a>
      <!--
      <div class="right menu">
        <a class="popup designer icon item" title="Designer Mode">
          <i class="basic paint icon"></i>
        </a>
        <a class="popup developer icon item" title="Developer Mode">
          <i class="terminal icon"></i>
        </a>
        <a class="popup icon github item" title="View project on Github" href="https://github.com/quirkyinc/semantic">
          <i class="icon github"></i>
        </a> 
      </div>-->
    </div>
  </div>
  <!-- end header page -->
  
  <div class="ui black huge launch right attached button">
    <i class="icon list layout"></i>
    <span class="text">Menu</span>
  </div>

 
   <!-- header form -->
  <div class="segment">
    <div class="container">
      <div class="introduction">
        <h1 class="ui dividing header">
          Calendar
        </h1>
        <p>Calendar shows a collection of events</p>
        <!--<div class="ui basic labeled icon toggle overview button">
          Definition Mode
          <i class="book icon"></i>
        </div>-->
      </div>
    </div>
  </div>

  <!-- main container -->

  <div class="main container">
    <div class="peek">
      <div class="ui vertical pointing secondary menu">
        <a class="active item">Create Event</a>
        <a class="item">Elements</a>
 
        <a class="item">States</a>
        <a class="item">Variations</a>
        <a class="item">Groups</a>
      </div>
    </div>
 
    <h2 class="ui dividing header">Create Event</h2>

    <div class="example">
      <h4 class="ui header">Create Event</h4>
      <p>If a form is in an error state, it will automatically show any error message blocks:</p>
      <div class="ui error form segment">
      <form id="addevent" method="post" action="#">
        <!--<div class="ui error message">
          <div class="header">Action Forbidden</div>
          <p>You can only sign up for an account once with a given e-mail address.</p>
        </div>
        -->
        <input name="id" id="id" type="hidden" value="<%= id %>">
        <input name="eventId" id="eventId" type="hidden" value="<%= eventId %>">
        <input name="calendarId" id="calendarId" type="hidden" value="<%= calendarId %>">
        <div class="field">
          <label>Summary</label>
          <input name="summary" id="summary" placeholder="Summary" type="text" value="<%= summary %>">
        </div>
        <div class="field">
          <label>Description</label>
          <textarea  name="description" id="description" placeholder="Description" value="<%= description %>"></textarea>
        </div>
        <div class="four fields">
          <div class="two field">
            <label>Start Date/Time</label>
            <input type="date"   name="startdate" id="startdate"  value="<%= startdate %>">
            <input type="text"   name="starttime" id="starttime" class="timepicker" value="<%= starttime %>">
            
          </div>
           <div class="two field">
            <label>End Date/Time</label>
            <input type="date"   name="enddate" id="enddate" value="<%= enddate %>" >
            <input type="text"   name="endtime" id="endtime" class="timepicker" value="<%= endtime %>">
            
          </div> 
        </div>
        <div class="field">
          <label>Email</label>
          <input  name="email" id="email" placeholder="Email" type="email" value="<%= email %>">
        </div>
        <div class="field">
          <label>Location</label>
          <input  name="location" id="location" placeholder="Location" type="text" value="<%= location %>">
          <div id="map-canvas"></div>
        </div>
 
     
        <div class="ui blue submit button" id="add">Submit</div>
        <div class="ui error message"></div>
      </form>
      </div>
    </div>
  <script type="text/javascript" src="/calendar.js"></script>
  </div>
</body>
</html> 